:root {
  /* Defining Page Colors */
  --bg-primary: black;
  --bg-secondary: rgb(37, 37, 37);

  --accent-primary: rgb(47, 60, 233);
  --accent-secondary: rgb(168, 139, 220);

  --text-color-dark: white;
  --text-color-light: black;

  --link-active: rgb(28, 179, 255);
  --link-used: var(--accent-primary);

  --hr-line-thin: 2px;
  --hr-line-thick: 4px;

  /* Setting up default page setup */
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--text-color-dark);
  background-color: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styling */
#navbar {
  width: 100%;
  position: fixed;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  top: 0;
  z-index: 20;
}
#navbar nav {
  background-color: var(--bg-primary);

  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 0;
  border-bottom: var(--hr-line-thin) solid var(--text-color-dark);
}
#navbar nav a {
  height: 100%;
  border-left: var(--hr-line-thin) solid white;
  font-weight: bold;

  font-size: 2em;

  color: var(--base-color);
  text-decoration: none;

  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
}
#navbar nav a:last-of-type {
  border-right: var(--hr-line-thin) solid white;
}
#navbar nav a:hover {
  background-color: var(--accent-primary);
}

/* Hero Section Of Home Page*/
#hero {
  display: flex;
  align-items: center;

  /* Adds rounded bottom border*/
  -webkit-mask: radial-gradient(100% 100% at top, #fff 60%, #0000 61%);
  mask: radial-gradient(220% 160% at top, #fff 60%, #0000 61%);
}
#hero .hero-text {
  position: absolute;
  margin-left: 8%;
  width: 35%;
  padding: 1%;

  /* Font Styling */
  mix-blend-mode: difference; /* Makes it be the inverse of bg */
  font-size: 1.5em;
  padding: 1%;
  line-height: 1.3em;
}
#hero .hero-text p {
  border-bottom: var(--hr-line-thick) solid var(--text-color-dark);
  padding-bottom: 2%;
}
#hero .hero-text h1,
h2 {
  margin: 0;
  margin-bottom: 2%;
}

/* Hero Light (for pages other than home) */
#hero-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  /* Adds rounded bottom border*/
  -webkit-mask: radial-gradient(100% 100% at top, #fff 60%, #0000 61%);
  mask: radial-gradient(200% 160% at top, #fff 60%, #0000 61%);
  height: 50vh;
}
#hero-light .hero-text {
  position: absolute;
  mix-blend-mode: difference; /* Makes it be the inverse of bg */
  text-align: center;
  border-bottom: var(--hr-line-thick) solid var(--text-color-dark);
  padding-left: 2%;
  padding-right: 2%;
}
#hero-light .hero-text h1 {
  font-size: 3.4em;
  line-height: 1.3em;
  margin-bottom: 0;
}
.border {
  background-color: blue;
  margin-top: 100px;
  width: 100%;
  border-bottom: 24px var(--bg-secondary) solid;
}

/* About Section of Home Page*/
#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50vh;
  padding: 5%;
}
#about p {
  font-size: 1.6em;
  line-height: 1.6em;

  border-bottom: var(--text-color-dark) solid var(--hr-line-thin);

  width: 60%;
  padding: 1%;
  margin: 0;
  margin-left: auto;
}

/* Shows Featured Projects */
#recent-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10%;
  padding: 5%;
  padding-bottom: 7%;
  height: 500px;

  border-bottom: var(--bg-secondary) solid 24px;
}
#recent-work .card {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 30%;
  height: 100%;
  padding: 2%;

  border: var(--hr-line-thin) solid var(--accent-secondary);
  border-radius: 40px;

  box-shadow: 2px 2px 50px var(--accent-primary);

  background-image: linear-gradient(
    to bottom right,
    var(--bg-primary),
    var(--bg-secondary)
  );

  bottom: 0;
  transition: bottom ease 1s;
}
#recent-work .card:hover {
  bottom: 50px;
  box-shadow: 2px 2px 100px var(--accent-primary);
}
#recent-work .card p {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: auto;
}
#recent-work .card h1 {
  font-size: 3em;
  margin: 0;
}
#recent-work .card img {
  width: 60%;
}
#recent-work .card img:hover {
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(5px 0 0 var(--accent-primary))
    drop-shadow(0 5px 0 var(--accent-secondary))
    drop-shadow(-5px 0 0 var(--accent-secondary))
    drop-shadow(0 -5px 0 var(--accent-secondary));
}
#recent-work .card .downloads {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  gap: 2%;
  height: 10%;
  width: 100%;
  margin-bottom: auto;
}
#recent-work .card .downloads svg {
  width: 1.4em;
  position: relative;
  top: -0.6em;
}

.main-content {
  background-color: var(--bg-secondary);
  border-top: 32px solid black;
  padding: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* Article MarkDown Styling*/
#markdown {
  padding: 3%;
  font-size: 1.2em;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-primary),
    var(--bg-secondary)
  );
  border: var(--hr-line-thin) solid var(--accent-secondary);
  border-radius: 30px;

  box-shadow: 0 0 10px var(--accent-primary);
}
#markdown .info #article-tags {
  float: left;
}
#markdown .info #article-date {
  float: right;
}
#markdown .info {
  padding-bottom: 20px;
}
#markdown hr {
  color: var(--base-color);
  width: 100%;
  padding: 0;
  margin: 0;
}
#markdown pre {
  width: 95%;
}
#markdown blockquote p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  border-radius: 8px;
  background: var(--accent-color);
}
#markdown blockquote {
  margin-left: 10px;
  padding: 0em 0.4em 0em 1em;
  position: relative;
}

/* Footer styling */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  background-color: var(--primary-color);
  padding-top: 50px;
  font-size: 1.1em;
}
#footer hr {
  height: 1px;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: var(--base-color);
}
#footer .footer-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

/* Custom Link Styling */
.custom-link,
#markdown a {
  color: var(--link-active);
  font-style: italic;
}
.custom-link:visited,
#markdown a {
  color: var(--link-used);
}
.custom-link:hover,
#markdown a {
  color: var(--text-color-dark);
}
.custom-link:active,
#markdown a {
  color: var(--link-active);
}

/* Article List Styling*/
#article-list {
  margin: 0;
}
#article-list .selection-list-header {
  margin: 2% 10% 2%;
  padding: 1% 5% 1%;
  text-align: center;
  border-bottom: var(--hr-line-thin) solid var(--text-color-dark);
}
#article-list .selection-list-header h1 {
  font-size: 3em;
}
#article-list .selection-list-header p {
  font-size: 1.5em;
}
#article-list .selection-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  padding: 0;
}
#article-list .selection-list li {
  border: 2px var(--accent-secondary) solid;
  border-radius: 20px;

  padding: 2% 5% 1%;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to bottom right,
    var(--bg-primary),
    var(--bg-secondary)
  );

  font-size: 1.3em;
}
#article-list .selection-list li:hover {
  box-shadow: 2px 2px 20px var(--accent-primary);
}
#article-list .selection-list li div .tag {
  float: left;
  font-weight: 400;

  font-size: 0.8em;
}
#article-list .selection-list li div .date {
  float: right;
  font-weight: 400;
  font-size: 0.8em;
}
#article-list .selection-list li h4 {
  padding: 5px 5px 5px;
  margin: 0;
}

