:root {
  /* Defining Page Colors */
  --bg-primary: black;
  --bg-secondary: rgb(37, 37, 37);

  --accent-primary: rgb(47, 60, 233);
  --accent-secondary: rgb(168, 139, 220);

  --text-color-dark: white;
  --text-color-light: black;

  --link-active: rgb(28, 179, 255);
  --link-used: var(--accent-primary);

  --hr-line-thin: 2px;
  --hr-line-thick: 4px;

  /* Setting up default page setup */
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--text-color-dark);
  background-color: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styling */
#navbar {
  width: 100%;
  position: fixed;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  top: 0;
  z-index: 20;
}
#navbar nav {
  background-color: var(--bg-primary);

  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 0;
  border-bottom: var(--hr-line-thin) solid var(--text-color-dark);
}
#navbar nav a {
  height: 100%;
  border-left: var(--hr-line-thin) solid white;
  font-weight: bold;
  font-size: 2em;
  color: var(--base-color);
  text-decoration: none;

  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
}
#navbar nav a:last-of-type {
  border-right: var(--hr-line-thin) solid white;
}
#navbar nav a:hover {
  background-color: var(--accent-primary);
}

/* Hero Section Of Home Page*/
#hero {
  display: flex;
  align-items: center;

  /* Adds rounded bottom border*/
  -webkit-mask: radial-gradient(100% 100% at top, #fff 60%, #0000 61%);
  mask: radial-gradient(220% 160% at top, #fff 60%, #0000 61%);
}
#hero .hero-text {
  position: absolute;
  margin-left: 8%;
  width: 35%;
  padding: 1%;

  /* Font Styling */
  mix-blend-mode: difference; /* Makes it be the inverse of bg */
  font-size: 1.5em;
  padding: 1%;
  line-height: 1.3em;
}
#hero .hero-text p {
  border-bottom: var(--hr-line-thick) solid var(--text-color-dark);
  padding-bottom: 2%;
}
#hero .hero-text h1|h2 {
  margin: 0;
  margin-bottom: 1%;
}

/* About Section of Home Page*/
#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50vh;
  padding: 5%;
}
#about p {
  font-size: 1.6em;
  line-height: 1.6em;

  border-bottom: var(--text-color-dark) solid var(--hr-line-thin);

  width: 60%;
  padding: 1%;
  margin: 0;
  margin-left: auto;
}

/* Shows Featured Projects */
#recent-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10%;
  padding: 5%;
  padding-bottom: 7%;
  height: 500px;

  border-bottom: var(--bg-secondary) solid 8px;
}
#recent-work .card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  height: 100%;
  padding: 2%;

  border: var(--hr-line-thin) solid var(--accent-secondary);
  border-radius: 5%;

  box-shadow: 2px 2px 60px var(--accent-primary);

  background-image: linear-gradient(
    to bottom right,
    var(--bg-primary),
    var(--bg-secondary)
  );
}
#recent-work .card p {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: auto;
}
#recent-work .card h1 {
  font-size: 3em;
  margin: 0;
}
#recent-work .card img {
  width: 60%;
}
#recent-work .card .downloads {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  gap: 2%;
  height: 10%;
  width: 100%;
  margin-bottom: auto;
}
#recent-work .card .downloads svg {
  width: 1.4em;
  position: relative;
  top: -0.6em;
}

.main-content {
  background-color: var(--bg-secondary);
  border-top: 20px solid black;
}

/*
Article and Markup Styling
*/

#markup {
  padding: 0.5vw 5vw 2vw;
  margin: 0;
}
#markup hr {
  color: var(--base-color);
  width: 100%;
  padding: 0;
  margin: 0;
}
#markup pre {
  width: 95%;
}
#markup blockquote p::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  border-radius: 8px;
  background: var(--accent-color);
}
#markup blockquote {
  margin-left: 10px;
  padding: 0em 0.4em 0em 1em;
  position: relative;
}

/* Footer styling */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: auto;
  background-color: var(--primary-color);
  padding-top: 50px;
}
#footer hr {
  height: 1px;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: var(--base-color);
}
#footer .footer-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
}

.custom-link,
.content a {
  color: var(--link-active);
  font-style: italic;
}

.custom-link:visited,
.content a {
  color: var(--link-used);
}

.custom-link:hover,
.content a {
  color: var(--text-color-dark);
}

.custom-link:active,
.content a {
  color: var(--link-active);
}

/* Selection box styling */

.article-list {
  padding: 0.5vw 5vw 1vw;
  margin: 0;
}

.article-list .selection-list-header {
  background-color: var(--secondary-color);
  padding: 2% 5% 1%;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-2);
  opacity: var(--base-opacity);
  border-color: var(--accent-color);
  border-width: 2px;
  border-style: solid;
}

.article-list .selection-list-header hr {
  height: 1px;
  background-color: var(--base-color);
  color: var(--base-color);
  opacity: var(--base-opacity);
}

.article-list .selection-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  padding: 0;
}

.article-list .selection-list li {
  /* General text styling */
  color: var(--secondary-color);
  /* Border styling */
  border-color: var(--primary-color);
  border-width: 3px;
  border-style: solid;
  border-radius: var(--border-radius-1);
  /* General looks */
  background-color: var(--base-color);
  padding: 2% 5% 1%;
  box-shadow: var(--box-shadow-2);
  cursor: pointer;
  opacity: var(--base-opacity);
  display: flex;
  flex-direction: column;
}

.article-list .selection-list li hr {
  height: 1px;
  background-color: var(--primary-color);
  width: 100%;
}

.article-list .selection-list li div .tag {
  float: left;
  font-weight: bold;
}

.article-list .selection-list li div .date {
  float: right;
  font-weight: 400;
}

.article-list .selection-list li h4 {
  padding: 5px 5px 5px;
  margin: 0;
}

/*
Article info section
*/

.article-info {
  padding: 1.5vw 1vw 0vw;
  margin: 0;
}

.article-info .tags {
  float: left;
}

.article-info .date {
  float: right;
}
